<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/fd2b0feaf2.js" crossorigin="anonymous"></script>
    <title>Add To List</title>
</head>
<body>
    Welcome {{user.first_name}} {{user.last_name}}
    <a href="{% url 'logout_view' %}"><button type="submit" class="button button-block" >Log Out</button><div class="field-wrap"></div></a>
</body>
</html>