<div class="modal fade" id="editgrocery_{{ grocery.id }}" tabindex="-1" role="dialog"
                        aria-labelledby="editfroceryLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editgroceryModalLabel">Update grocery Item</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" id="close-edit-modal">&times;</span>
                                    </button>
                                </div>
                                <form action="{% url 'update_grocery' grocery.id %}" method="post" class="edit-grocery-form">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <input type="text" name="grocery_{{ grocery.id }}" id="" value="{{ grocery.name }}" required
                                            size="40">
                                    </div>
                                    <div class="modal-footerr">
                                        <button type="button" class="btn btn-sm btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-sm btn-primary"
                                            id="edit-grocery-submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>