{% extends 'index.html' %}
{% load static %}
{% block title %}Login{%endblock %}

{% block content %}
<div class="container Form">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="title">
            <h1>Log In</h1>
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>                    
            {% endfor %}
        </div>
        <div class="field-wrap">
            <label>Username<span class="req">*</span></label>
            {{form.username}}
        </div>

        <div class="field-wrap">
            <label>Password<span class="req">*</span></label>
            {{form.password}}
        </div>
        <button type="submit" class="button button-block">Log In</button><div class="field-wrap"></div>
    
    </form>
</div>
{% endblock content %}
